<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are our flight deals:</h2>
    <ul>
      <% availableFlights.forEach(function(flight) { %>
        <li><%= flight.name %>, £<%=flight.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>